aside{
    margin-left: 3px;
}
h1{
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}
.message{
    margin-left: 5px;
}
button{
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
    padding-bottom: 4px;
    background-color: #b1aaac;
}
.add{
    width: 25px;
}
.remove{
    width: 25px;
}

