.button.primary {
    background-color:burlywood;
}
.filter{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
    border-bottom: 0.1rem white;
}
.filter div{
    flex: 1;
}