.page{
  display: flex;
  background-color: black;
}
.catalog{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
  width: 70%;
  background-color: black;
}
.cart{
  background-color: #e6e4e8;
  width: 29%;
  border-radius: 10px;
  margin: 10px 0px 5px 0;
  font-weight: 500; 
}
.card{
  margin-bottom: 10px;
}
