.page{
  display: flex;
  /* background-color: brown; */
}
.catalog{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
  width: 75%;
  background-color: black;
}
.cart{
  background-color: blueviolet;
  width: 25%;
}
.card{
  margin-bottom: 10px;
  
}